include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
recursive-include react_comments_django *.html *.png *.gif *js *.css *jpg *jpeg *svg *py *.otf *.eot *.svg *.ttf *.woff *.woff2
